*,
*::before,
*::after {
  scroll-behavior: smooth !important;
  font-family: var(--font-montserrat) !important;
  text-decoration: none;
}

:root,
html,
body {
  overscroll-behavior: none;
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
  background-color: #5d2959 !important;
}

.min-h-screen {
  min-height: 100vh;
  min-height: 100dvh;
}

.font-market-condensed {
  font-family: var(--font-market-condensed) !important;
}

img {
  max-width: 100%;
  user-select: none;
  object-fit: cover;
  object-position: center;
  display: block;
}
